<h1>Log in to your account</h1><br>

<% if @message %>
<p><%= @message %></p>
<% end %>

<form method="POST" action="/sessions">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>
