<h1><%= @entry.title %></h1>
<%= erb :'/entries/_entry_description', locals: { entry: @entry} %>
<br>
<% if authorized?(@entry.user) %>
<a href="/entries/<%= @entry.id %>/edit">Edit</a>
<form method="post", action="/entries/<%= @entry.id %>">
  <input type="hidden", name="_method", value="delete">
  <input type="submit", value="Delete">
</form>
<% end %>
