<li class="pipe-separate t-light-green left ">
  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="logout" class="logout">
  </form>
</li>
