<h1>Log in to your account</h1><br>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/login" method="post" >
  <p>
    <span>
      <label for="email">Email address:</label>
      <input type="text" name="email" class="block w-100 no-outline no-border pad-1 mar-b-2"/>
    </span>
  </p>
  <p>
    <span>
      <label for="password">Password:</label>  <input type="password" name="password" class="block w-100 no-outline no-border pad-1 mar-b-2"/>
    </span>
  </p>
  <p><input type="submit" value="Login">
  </p>
</form>
