<style>form div {padding: 10px; } </style>

<div align="center">
  <h1>Welcome to the login page!</h1>
</div>

<div align="center">
  <form action='/users/login' method="post" id="form">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password"><br><br>
    <input type="submit">
  </form>
</div>
