<style>form div {padding: 10px; } </style>

<div align="center">
  <h1>Please login before viewing the blog!</h1>
</div>

<div align="center">
  <form action='/users/login' method="post" id="form">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br><br>
    <input type="submit" style ="background-color:blue">
  </form>
</div>


<div align="center"><br><br>
  <a href="/users/new" style ="background-color:blue">Dont have an account? No problem! You can register here:</a>
</div>
