<h1>Log in to your account</h1><br>
<form action="/login" method="post" >
  <span>
  <label for="email">Email address:</label>
  <input type="text" name="email" />
  </span>
  <br>
  <span>
    <label for="password">Password:</label>  <input type="password" name="password" />
  </span>
  <br>
  <input type="submit" value="Login">
</form>
