<h1>Please register a new account below</h1>

<form action="/users" method="post">
  <label for="username">Username:</label>
  <input class="block" type="text" placeholder="username" name="user[username]">
  <label for="email">Email:</label>
  <input class="block" type="email" placeholder="email" name="user[email]">
  <label for="password">Password:</label>
  <input class="block" id="original-password" type="password" name="user[password]">
  <label for="confirm-password">Confirm Password:</label>
  <input class="block" id="confirm-password" type="password">

  <script type="text/javascript">

    var password = document.getElementById("original-password");
    var confirmPassword = document.getElementById("confirm-password")

    var validatePassword = function (){
      console.log("graham was right all along")
      if(password.value != confirmPassword.value) {
        confirmPassword.setCustomValidity("Passwords don't match");
      } else {
        confirmPassword.setCustomValidity("");
      }
    };

    password.onchange = validatePassword;
    confirmPassword.onchange = validatePassword;
      console.log(password)

  </script>
  <input class="block" type="submit" value="Register!">


</form>
