<h1>Register to log in</h1>

<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users" method="post" >
  <p>
    <span>
      <label for="username">Username:</label>
      <input type="text" name="user[username]" class="block w-100 no-outline no-border pad-1 mar-b-2"/>
    </span>
  </p>
  <p>
    <span>
      <label for="email">Email address:</label>
      <input type="text" name="user[email]" class="block w-100 no-outline no-border pad-1 mar-b-2"/>
    </span>
  </p>
  <p>
    <span>
      <label for="password">Password:</label>  <input type="password" name="user[password]" class="block w-100 no-outline no-border pad-1 mar-b-2"/>
    </span>
  </p>
  <p><input type="submit" value="Login">
  </p>
</form>
