<h2>Register to log in</h2>

<% if @errors %>
  <span>Something went wrong:</span>
  <%= erb :"_errors", locals: {errors: @errors} %>
<% end %>

<form action="/users" method="post" >
  <p>
    <span>
      <label for="username">Username:</label>
      <input type="text" name="user[username]" placeholder="Username" class="block w-100 no-outline no-border pad-1 mar-b-2">
    </span>
  </p>
  <p>
    <span>
      <label for="email">Email address:</label>
      <input type="text" name="user[email]" placeholder="Email" class="block w-100 no-outline no-border pad-1 mar-b-2">
    </span>
  </p>
  <p>
    <span>
      <label for="password">Password:</label>  <input type="password" name="user[password]" class="block w-100 no-outline no-border pad-1 mar-b-2" placeholder="Password">
    </span>
  </p>
  <p><input type="submit" value="Register" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
  </p>
</form>
