<h1>Please register a new account below</h1>

<%= erb :'_errors', locals: { errors: @errors } %>

<form action="/register" method="post">
  <label for="username">Username:</label>
  <input class="block" type="text" placeholder="username" name="user[username]">
  <label for="email">Email:</label>
  <input class="block" type="email" placeholder="email" name="user[email]">
  <label for="password">Password:</label>
  <input class="block" id="original-password" type="password" name="user[password]">
  <label for="confirm-password">Confirm Password:</label>
  <input class="block" id="confirm-password" type="password">
  <!-- Should probably move this to jQuery in the JS file. -->
  <script type="text/javascript">

    var password = document.getElementById("original-password");
    var confirmPassword = document.getElementById("confirm-password")

    var validatePassword = function(){
      console.log("graham was right all along")
      if(password.value != confirmPassword.value) {
        confirmPassword.setCustomValidity("Passwords don't match");
      } else {
        confirmPassword.setCustomValidity("");
      }
    };
    var ensurePasswordLength = function(){
      if(password.value.length < 8) {
        password.setCustomValidity("Password cannot be fewer than 8 characters");
      } else {
        password.setCustomValidity("");
      }
    };

    password.onchange = validatePassword, ensurePasswordLength;
    confirmPassword.onchange = validatePassword;
      console.log(password)


  </script>
  <input class="block" type="submit" value="Register!">


</form>
