<h2>Welcome!</h2>
<h3>Please register to join our blog!</h3>



<style>form div {padding: 10px; } </style>

<div align="center">
  <h1>Welcome to the registration page!</h1>
</div>

<div align="center">
  <form action='/users' method="post" id="form">
    Username:<br>
    <input type="text" name="users[username]"><br>
    Email:<br>
    <input type="text" name="users[email]"><br>
    Password:<br>
    <input type="text" name="users[password]"><br><br>
    <input type="submit">
  </form>
</div>


<div align="center"><br><br>
  <a href="/login">Already have an account? Login here</a>
</div>

