<h1><%= @user.username %></h1>

<p><%= @user.email %></p>

<% if !@user.entries.empty? %>
  <% @user.entries.each do |entry| %>
    <a href="/entries/<%= entry.id %>" class="entry-title font-2 pad-b-1-4 c-white"><h1><%= entry.title %></h1></a>
  <% end %>
<% end %>
