<h1>New Tournament</h1>

<% if @errors %>
  <%= erb :"/_errors" %>
<% end %>

<form id="new-tournament" method="post", action="/tournaments">
  <input type="text" name="touranment[link]" placeholder="Smash.gg Link" value="<%= @tournament.link %>"><br>
  <button id="submit-link" type="button" value="Submit Link"></button>
</form>
