<div align='center'>
  <form action='/login' method='POST'>
  Email:<br>
  <input type='text' name='email'><br>
  Password:<br>
  <input type='password' name='password'><br>
  <br>
  <input type='submit' name='submit' value='login'>
</form>

</div>
