<div align='center'>

  <% if @errors %>
  <p>Something went wrong...</p>
  <ul>
    <% @errors.each do |error| %>
    <li>- <%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <form action="/users/new" method='POST'>
  Username:<br>
  <input type='text' name='username'><br>
  Email:<br>
  <input type='text' name='email'><br>
  Password:<br>
  <input type='password' name='password'><br>
  <br>
  <input type='submit' name='submit' value='Create Account!'>
</form>
</div>
